version: 2
updates:
  # NuGet
  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
    rebase-strategy: "auto"
    labels:
      - "dependencies" 
    commit-message:
      - prefix: "deps(nuget)"
    groups:
      nuget-patch-and-minor:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
    rebase-strategy: "auto"
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps(gh-actions)"