name: build

on: 
  push:
    branches:
      - master
      - release-*
      - dev-*
      - feature-*
    tags:
      - v*
    
  pull_request:
    branches: 
      - master
      - release-*
      - dev-*
      - feature-*

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      NUPKG_OUTDIR: bin/Release/nugets
    steps:
      - uses: actions/checkout@v1
        with:
          clean: true
      - name: Parse release version
        run: python ./.github/scripts/get_release_version.py
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x
          dotnet-quality: 'ga'
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration release --no-restore
      - name: Generate Packages
        run: dotnet pack --configuration release
      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: ${{ env.NUPKG_OUTDIR }}
  discover-integration-v2-tests:
    runs-on: ubuntu-latest
    outputs: 
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v1
      - id: set-matrix
        run: |
          # Find all csproj files matching the pattern recursively
          PROJECTS=$(find test -name "Dapr.IntegrationTest.*.csproj" | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=$PROJECTS" >> $GITHUB_OUTPUT
  discover-unit-test-projects:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v1
      - id: set-matrix
        run: |
          # Find all csproj files matching the pattern recursively
          PROJECTS=$(find test -name "Dapr.*.Test.csproj" ! -name "*E2E*" | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=$PROJECTS" >> $GITHUB_OUTPUT
  integration-tests-v2:
    name: Integration Tests ${{ matrix.display-name }} / ${{ matrix.os }} - ${{ matrix.project}}
    needs: discover-integration-v2-tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        dotnet-version: [ '8.0', '9.0', '10.0' ]
        os: [ubuntu-latest]
        project: ${{ fromJson(needs.discover-integration-v2-tests.outputs.matrix) }}
        include:
          - dotnet-version: '8.0'
            display-name: '.NET 8.0'
            framework: 'net8.0'
            prefix: 'net8'
            install-version: '8.0.x'
          - dotnet-version: '9.0'
            display-name: '.NET 9.0'
            framework: 'net9.0'
            prefix: 'net9'
            install-version: '9.0.x'
          - dotnet-version: '10.0'
            display-name: '.NET 10.0'
            framework: 'net10.0'
            prefix: 'net10'
            install-version: '10.0.x'
    steps:
      - uses: actions/checkout@v1
      - name: Parse release version
        run: python ./.github/scripts/get_release_version.py
      - name: Setup ${{ matrix.display-name }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.install-version }}
          dotnet-quality: 'ga' # Prefer a GA release, but use the RC if not available
      - name: Integration Tests
        id: integration-tests-v2
        continue-on-error: false # proceed if tests fail to allow for the report generation in master or next step failure in PR
        run: |
          dotnet test "${{ matrix.project }}" \
          --configuration release \
          --framework ${{ matrix.framework }} \
          --logger "trx;LogFilePrefix=${{ matrix.prefix }}" \
          --logger "GitHubActions;report-warnings=false" \
          --results-directory "${{ github.workspace }}/TestResults" \
          /p:CollectCoverage=true \
          /p:CoverletOutputFormat=opencover \
          /p:GITHUB_ACTIONS=false
        timeout-minutes: 60
      - name: Upload test coverage
        uses: codecov/codecov-action@v1
        with:
          flags: ${{ matrix.framework }}
      - name: Parse Trx files
        uses: NasAmin/trx-parser@v0.2.0
        id: trx-parser
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository # does not work on PRs from forks
        with:
          TRX_PATH: ${{ github.workspace }}/TestResults
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ci-integration-tests-gate:
    runs-on: ubuntu-latest
    needs: [integration-tests-v2, integration-test]
    steps:
      - name: "All integration tests passed"
        run: echo "All unit tests passed"
  unit-tests:
    name: Unit Tests ${{ matrix.display-name }} / ${{ matrix.os }} - ${{ matrix.project}}
    needs: discover-unit-test-projects
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet-version: ['8.0', '9.0', '10.0']
        project: ${{ fromJson(needs.discover-unit-test-projects.outputs.matrix) }}
        include:
        - dotnet-version: '8.0'
          display-name: '.NET 8.0'
          framework: 'net8.0'
          prefix: 'net8'
          install-version: '8.0.x'
        - dotnet-version: '9.0'
          display-name: '.NET 9.0'
          framework: 'net9.0'
          prefix: 'net9'
          install-version: '9.0.x'
        - dotnet-version: '10.0'
          display-name: '.NET 10.0'
          framework: 'net10.0'
          prefix: 'net10'
          install-version: '10.0.x'
    steps:
    - uses: actions/checkout@v1
    - name: Parse release version
      run: python ./.github/scripts/get_release_version.py
    - name: Setup ${{ matrix.display-name }}
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.install-version }}
        dotnet-quality: 'ga' # Prefer a GA release, but use the RC if not available
    - name: Test
      id: tests
      continue-on-error: true # proceed if tests fail to allow for the report generation in master or next step failure in PR
      run: |
        dotnet test "${{ matrix.project }}"  \
        --configuration release \
        --framework ${{ matrix.framework }} \
        --logger "trx;LogFilePrefix=${{ matrix.prefix }}" \
        --logger "GitHubActions;report-warnings=false" \
        --results-directory "${{ github.workspace }}/TestResults" \
        /p:CollectCoverage=true \
        /p:CoverletOutputFormat=opencover \
        /p:GITHUB_ACTIONS=false
      timeout-minutes: 60
    - name: Check test failure in PR
      if: github.event_name == 'pull_request' && steps.tests.outcome != 'success'
      run: exit 1
    - name: Upload test coverage
      uses: codecov/codecov-action@v1
      with:
        flags: ${{ matrix.framework }}
    - name: Parse Trx files
      uses: NasAmin/trx-parser@v0.2.0
      id: trx-parser
      if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository # does not work on PRs from forks
      with:
        TRX_PATH: ${{ github.workspace }}/TestResults
        REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ci-unit-tests-gate:
    runs-on: ubuntu-latest
    needs: [unit-tests]
    steps:
      - name: "All unit tests passed"
        run: echo "All unit tests passed"
  integration-test:
    uses: ./.github/workflows/itests.yml
  discover:
    name: 'Discover Packages'
    needs: ['build', 'unit-tests', 'integration-test', 'integration-tests-v2', 'ci-unit-tests-gate', 'ci-integration-tests-gate']
    runs-on: ubuntu-latest
    if: |
      startswith(github.ref, 'refs/tags/v') &&
      !(endsWith(github.ref, '-rc') || endsWith(github.ref, '-dev') || endsWith(github.ref, '-prerelease'))
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Download release artifacts
        uses: actions/download-artifact@v4
        with:
          name: packages
          path: packages
      - name: List packages
        run: ls packages/*.nupkg
      - name: Generate matrix
        id: set-matrix
        run: |
          echo "Generating package matrix..."
          files=$(ls packages/*.nupkg | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=$files" >> $GITHUB_OUTPUT
  
  publish:
    permissions:
      id-token: write # Enable GitHub OIDC token issuance for this job
    name: Publish Packages
    needs: ['discover']
    if: |
      startswith(github.ref, 'refs/tags/v') &&
      !(endsWith(github.ref, '-rc') || endsWith(github.ref, '-dev') || endsWith(github.ref, '-prerelease'))
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.discover.outputs.matrix) }}
    steps:
      - name: Download release artifacts
        uses: actions/download-artifact@v4
        with:
          name: packages
          path: packages
      - name: NuGet logic (OIDC -> temp API key)
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGETORG_DAPR_USER }}
      - name: Publish ${{ matrix.package }} to NuGet
        run: |
          dotnet nuget push "${{ matrix.package }}" --skip-duplicate --api-key ${{ steps.login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
 